/* Reset all padding and margins to zero */
* {
  padding: 0px;
  margin: 0px;
}

h1 {
  color: white;
  font-family: Arial, Verdana, Comic, sans-serif;
}
p {
  font-family: Arial;
  font-size: 30px;
}
.banner {
  width: 100%;
  background-color: rgb(12, 34, 56);
  padding: 20px;
  text-align: center;
}
.col-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 30px;
}
.col-left {
  background-color: red;
  padding: 30px 20px;
}
.image-resize {
  max-width: 100%;
  height: auto;
}
