/* remove all padding and margins */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(45, 123, 210);
}
h1 {
  color: rgb(0, 25, 255);
  margin-bottom: 10px;
}
/* Layout styling */
.col-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.left-col {
  background-color: red;
  padding: 20px;
}
.right-col {
  background-color: yellow;
}
